doctype
head
  title #{title} | SkilStak Coding Arts
body
  header
    include:markdown README.md
  section#hello: include:markdown hello/README.md
    include:markdown hi/README.md
    include:markdown nyan/README.md
    include:markdown waffles/README.md
    include:markdown dice/README.md
    include:markdown badgers/README.md
    include:markdown eightball/README.md
    include:markdown bridge/README.md
    include:markdown cli/README.md
    include:markdown mtable/README.md
    include:markdown madforms/README.md
    include:markdown bincount/README.md
    include:markdown quiz/README.md
    include:markdown review/README.md
