doctype
head
  title #{title} | SkilStak Coding Arts
body
  header: include:markdown README.md
  section#hello: include:markdown hello/README.md
  section#hi: include:markdown hi/README.md
  section#nyan: include:markdown nyan/README.md
  section#waffles: include:markdown waffles/README.md
  section#dice: include:markdown dice/README.md
  section#badgers: include:markdown badgers/README.md
  section#eightball: include:markdown eightball/README.md
  section#bridge: include:markdown bridge/README.md
  section#cli: include:markdown cli/README.md
  section#mtable: include:markdown mtable/README.md
  section#madforms: include:markdown madforms/README.md
  section#bincount: include:markdown bincount/README.md
  section#quiz: include:markdown quiz/README.md
  section#review: include:markdown review/README.md
